canvas {
  margin: 0 auto;
    display: block;
    background-color: #2F2F2E;
    padding: 10px;
}

.header > .wrapper {
  margin: 0 auto;
    display: flex;
    width: 632px;
}

.relative{
  position: relative;
}

.score {
    color: #B6FFC2;
    position: absolute;
    bottom: 22px;
    left: 22px;
    font-size: 25px;
    font-family: monospace;
    line-height: 21px;
}

.highscore{
    color: #B6FFC2;
    position: absolute;
    top: 17px;
    right: 68px;
    font-size: 25px;
    font-family: monospace;
    line-height: 21px;
}

#game-container{
  color:#FFF;
  text-align:center;
  position: relative;
  width:100%;
}

#game-container>*{
  margin: 0px auto;
}


.temp-menu {
  position:absolute;
  top:0px;
  left:0px;
  background-color: rgba(0,0,0,0.6);
}

.center-parent{
  display: table;
  width: 100%;
}
.center-parent>.centered {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}