canvas {
  margin: 0 auto;
    display: block;
    background-color: #2F2F2E;
    padding: 10px;
}

.header > .wrapper {
  margin: 0 auto;
    display: flex;
    width: 632px;
}

.relative{
  position: relative;
}

.score {
    color: #B6FFC2;
    position: absolute;
    bottom: 25px;
    left: 35px;
    font-size: 25px;
    font-family: monospace;
    line-height: 25px;
}

.button {
    color: #B6FFC2;
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 25px;
    font-family: monospace;
    line-height: 25px;
}

.timer {
    color: #B6FFC2;
    position: absolute;
    bottom: 50px;
    left: 322px;
    font-size: 25px;
    font-family: monospace;
    line-height: 25px;
    text-align: left;
}

.highscore{
    color: #B6FFC2;
    position: absolute;
    top: 40px;
    right: 48px;
    font-size: 25px;
    font-family: monospace;
    line-height: 25px;
}

#game-container{
  color:#FFF;
  text-align:center;
  position: relative;
  width:100%;
}

#game-container>*{
  margin: 0px auto;
  font-family: monospace;
  line-height: 20px;
}

.temp-menu {
  position:absolute;
  top:0px;
  left:0px;
  background-color: rgba(0,0,0,0.8);
}

.center-parent{
  display: table;
  width: 100%;
}
.center-parent>.centered {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}